node-red/Node-red Machine.txt
[
    {
        "id": "c2c5398c.2538a8",
        "type": "tab",
        "label": "Machine"
    },
    {
        "id": "3977df72.020cc",
        "type": "ui_text",
        "z": "c2c5398c.2538a8",
        "group": "24702b4.086c7d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Machine status",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1315.8945770263672,
        "y": 51.75390625,
        "wires": []
    },
    {
        "id": "fd52e377.080b",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Machine logic",
        "info": "",
        "x": 177.01953125,
        "y": 40.00390625,
        "wires": []
    },
    {
        "id": "988845b7.704b78",
        "type": "template",
        "z": "c2c5398c.2538a8",
        "name": "Machine waiting",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Väntar på beordering",
        "x": 932.0197296142578,
        "y": 52.003910064697266,
        "wires": [
            [
                "3977df72.020cc"
            ]
        ]
    },
    {
        "id": "70dca4b6.bbd21c",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [
            "8339462f.53fa28"
        ],
        "x": 690.8945236206055,
        "y": 20,
        "wires": [
            [
                "988845b7.704b78"
            ]
        ]
    },
    {
        "id": "50cdf202.95f35c",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Startup",
        "info": "",
        "x": 606.0195388793945,
        "y": 21.003911018371582,
        "wires": []
    },
    {
        "id": "f0ee852d.06ec68",
        "type": "ui_text",
        "z": "c2c5398c.2538a8",
        "group": "24702b4.086c7d4",
        "order": 2,
        "width": "7",
        "height": "1",
        "name": "",
        "label": "Kultivering om",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1228.3671264648438,
        "y": 788.0039672851562,
        "wires": []
    },
    {
        "id": "518dfa05.f53864",
        "type": "template",
        "z": "c2c5398c.2538a8",
        "name": "Format calculated value",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.cultivation_count}} sek",
        "x": 841.3002433776855,
        "y": 788.6707229614258,
        "wires": [
            [
                "f0ee852d.06ec68"
            ]
        ]
    },
    {
        "id": "4f8eb26.29cd44c",
        "type": "function",
        "z": "c2c5398c.2538a8",
        "name": "Calc new value",
        "func": "var count = flow.get('cultivation_count');\nvar newCount = Number(count) - 1;\n\nvar newMsg = msg;\nnewMsg.payload = newCount;\n\nflow.set('cultivation_count', newCount);\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 437.3000602722168,
        "y": 791.6706619262695,
        "wires": [
            [
                "518dfa05.f53864"
            ]
        ]
    },
    {
        "id": "5733d0b7.47a7a",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Handling count down for next cultivation",
        "info": "",
        "x": 260.0000114440918,
        "y": 742.4038772583008,
        "wires": []
    },
    {
        "id": "a2417e1a.4a1c1",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [],
        "x": 131.0000114440918,
        "y": 789.9038772583008,
        "wires": [
            [
                "4f8eb26.29cd44c"
            ]
        ]
    },
    {
        "id": "b13f43e.dcb71c",
        "type": "ui_numeric",
        "z": "c2c5398c.2538a8",
        "name": "",
        "label": "Intervall",
        "group": "24702b4.086c7d4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "format": "{{value}} sek",
        "min": 0,
        "max": "6000",
        "step": 1,
        "x": 663.168270111084,
        "y": 2226.4037113189697,
        "wires": [
            [
                "473421ca.86a18"
            ]
        ]
    },
    {
        "id": "d1afd9da.5104e8",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Set cultivation count to intervall",
        "rules": [
            {
                "t": "set",
                "p": "cultivation_count",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 908.4016456604004,
        "y": 2174.403802871704,
        "wires": [
            []
        ]
    },
    {
        "id": "e003b191.b32e4",
        "type": "template",
        "z": "c2c5398c.2538a8",
        "name": "Init value",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.cultivation_intervall}}",
        "x": 482.10156631469727,
        "y": 2226.4037113189697,
        "wires": [
            [
                "b13f43e.dcb71c"
            ]
        ]
    },
    {
        "id": "473421ca.86a18",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Set cultivation intervall value from input",
        "rules": [
            {
                "t": "set",
                "p": "cultivation_intervall",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 929.4016456604004,
        "y": 2224.603723526001,
        "wires": [
            []
        ]
    },
    {
        "id": "147b4959.c017e7",
        "type": "template",
        "z": "c2c5398c.2538a8",
        "name": "Init value",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.cultivation_intervall}}",
        "x": 478.1016273498535,
        "y": 2176.403741836548,
        "wires": [
            [
                "d1afd9da.5104e8"
            ]
        ]
    },
    {
        "id": "6665d73.b23c728",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Init values",
        "info": "",
        "x": 176.10160446166992,
        "y": 2135.4038162231445,
        "wires": []
    },
    {
        "id": "37d9fb76.46cbc4",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Set sequens state to not running",
        "rules": [
            {
                "t": "set",
                "p": "machine_sequense",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910.1211395263672,
        "y": 2279.407609939575,
        "wires": [
            []
        ]
    },
    {
        "id": "5a6a741e.e6715c",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [
            "8339462f.53fa28"
        ],
        "x": 134.0000228881836,
        "y": 2247.548318862915,
        "wires": [
            [
                "147b4959.c017e7",
                "e003b191.b32e4",
                "37d9fb76.46cbc4",
                "4140c797.89b668",
                "e82e7ca1.212"
            ]
        ]
    },
    {
        "id": "cc4a6d97.0f4ee",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Start puls",
        "info": "",
        "x": 248.12111282348633,
        "y": 2218.4075927734375,
        "wires": []
    },
    {
        "id": "4140c797.89b668",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Set moving state to not running",
        "rules": [
            {
                "t": "set",
                "p": "machine_moving",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 912.8828277587891,
        "y": 2330.1054706573486,
        "wires": [
            []
        ]
    },
    {
        "id": "ad587801.26a6c8",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Create empty space over buttons",
        "info": "",
        "x": 243.0195541381836,
        "y": 1975.0039100646973,
        "wires": []
    },
    {
        "id": "50bb9363.f49ebc",
        "type": "ui_template",
        "z": "c2c5398c.2538a8",
        "group": "24702b4.086c7d4",
        "name": "Watering empty space",
        "order": 4,
        "width": "7",
        "height": "1",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 212.89456176757812,
        "y": 2019.6446285247803,
        "wires": [
            []
        ]
    },
    {
        "id": "bccd68.ec668298",
        "type": "switch",
        "z": "c2c5398c.2538a8",
        "name": "If count <= 0",
        "property": "cultivation_count",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lte",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 276.0195426940918,
        "y": 518.0039196014404,
        "wires": [
            [
                "e09778c1.301428"
            ]
        ]
    },
    {
        "id": "53657af9.da2694",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [],
        "x": 127.71943378448486,
        "y": 518.0372486114502,
        "wires": [
            [
                "bccd68.ec668298"
            ]
        ]
    },
    {
        "id": "42cafe22.f417c",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Handling automatic start of cultivation",
        "info": "",
        "x": 260.738956451416,
        "y": 461.5411491394043,
        "wires": []
    },
    {
        "id": "c1ae6faf.c0e",
        "type": "link out",
        "z": "c2c5398c.2538a8",
        "name": "Machine automatic start",
        "links": [
            "cbde471c.5e7e08"
        ],
        "x": 1296.6061611175537,
        "y": 509.7404365539551,
        "wires": []
    },
    {
        "id": "d78564aa.cea888",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Handling automatic stop of cultivation",
        "info": "",
        "x": 260.738956451416,
        "y": 592.54114818573,
        "wires": []
    },
    {
        "id": "fe229608.c4d0f8",
        "type": "link out",
        "z": "c2c5398c.2538a8",
        "name": "Machine automatic stop",
        "links": [
            "9b3c54e.c26fda8"
        ],
        "x": 1300.6061611175537,
        "y": 652.7404375076294,
        "wires": []
    },
    {
        "id": "f7cb0e24.8a6fd",
        "type": "function",
        "z": "c2c5398c.2538a8",
        "name": "Watering for spec. time",
        "func": "var count = flow.get('cultivation_count');\nvar target = 20;\n\nvar newMsg = msg;\nif(count <= (target*-1))\n{\n    newMsg.payload = true;\n}else{\n    newMsg.payload = false;\n}\n\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 656.7389831542969,
        "y": 654.5412082672119,
        "wires": [
            [
                "bdb1d326.8bd42"
            ]
        ]
    },
    {
        "id": "986d92a7.aa619",
        "type": "switch",
        "z": "c2c5398c.2538a8",
        "name": "If count <= 0",
        "property": "cultivation_count",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lte",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 277.7390327453613,
        "y": 656.8078746795654,
        "wires": [
            [
                "de700eed.3bf7"
            ]
        ]
    },
    {
        "id": "bdb1d326.8bd42",
        "type": "switch",
        "z": "c2c5398c.2538a8",
        "name": "Done?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 915.739070892334,
        "y": 653.5411319732666,
        "wires": [
            [
                "fe229608.c4d0f8"
            ]
        ]
    },
    {
        "id": "47ab2986.19a428",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [],
        "x": 123.43893146514893,
        "y": 657.841118812561,
        "wires": [
            [
                "986d92a7.aa619"
            ]
        ]
    },
    {
        "id": "aeb3c6b8.343d68",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Set count to intervall value",
        "rules": [
            {
                "t": "set",
                "p": "cultivation_count",
                "pt": "flow",
                "to": "cultivation_intervall",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1184.1096229553223,
        "y": 1045.00390625,
        "wires": [
            []
        ]
    },
    {
        "id": "66202d1.e76b9d4",
        "type": "ui_button",
        "z": "c2c5398c.2538a8",
        "name": "",
        "group": "24702b4.086c7d4",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Avbryt",
        "color": "",
        "bgcolor": "grey",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Kultivera",
        "x": 1097.1289253234863,
        "y": 1867.00830078125,
        "wires": [
            [
                "b1e1e73c.1f8908"
            ]
        ]
    },
    {
        "id": "b1e1e73c.1f8908",
        "type": "link out",
        "z": "c2c5398c.2538a8",
        "name": "Watering abort command ",
        "links": [
            "81787d8f.86bfd"
        ],
        "x": 1301.0040035247803,
        "y": 1868.19544506073,
        "wires": []
    },
    {
        "id": "5bba78d0.864698",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Handling abort button for watering",
        "info": "",
        "x": 256.1289253234863,
        "y": 1822.0079164505005,
        "wires": []
    },
    {
        "id": "8b67ed49.73478",
        "type": "ui_button",
        "z": "c2c5398c.2538a8",
        "name": "",
        "group": "24702b4.086c7d4",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Starta kultivering",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Kultivera",
        "x": 899.1290435791016,
        "y": 1428.0079355239868,
        "wires": [
            [
                "7b3f1a94.dd4fa4"
            ]
        ]
    },
    {
        "id": "9360a13f.ddbfb",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Sequens running?",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "machine_sequense",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 293.0568161010742,
        "y": 1428.45055103302,
        "wires": [
            [
                "fee041c3.ea1d5"
            ]
        ]
    },
    {
        "id": "fee041c3.ea1d5",
        "type": "function",
        "z": "c2c5398c.2538a8",
        "name": "Invert",
        "func": "\nif(msg.enabled){\n    msg.enabled = false;\n}else{\n    msg.enabled = true;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 477.0489807128906,
        "y": 1428.6069135665894,
        "wires": [
            [
                "8b67ed49.73478"
            ]
        ]
    },
    {
        "id": "fa28a6df.aa94d8",
        "type": "link out",
        "z": "c2c5398c.2538a8",
        "name": "Machine cultivation start command ",
        "links": [
            "2b2837d0.4fc9d8",
            "60a2082e.d36728"
        ],
        "x": 1303.0080432891846,
        "y": 1426.1914691925049,
        "wires": []
    },
    {
        "id": "ff8b5001.950eb",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [],
        "x": 133.12889862060547,
        "y": 1429.007893562317,
        "wires": [
            [
                "9360a13f.ddbfb"
            ]
        ]
    },
    {
        "id": "6e1ed52b.fdf27c",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [],
        "x": 135.1289176940918,
        "y": 1875.0079050064087,
        "wires": [
            [
                "c8362a6c.0d6938"
            ]
        ]
    },
    {
        "id": "265a926e.7dabde",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Handling start button for cultivation",
        "info": "",
        "x": 253.12890625,
        "y": 1374.0078315734863,
        "wires": []
    },
    {
        "id": "86537973.7d8788",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Machine sequens finished event",
        "info": "",
        "x": 244.12890243530273,
        "y": 1030.0077695846558,
        "wires": []
    },
    {
        "id": "307f846e.edaf3c",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Machine sequens started event",
        "info": "",
        "x": 239.12890243530273,
        "y": 898.0077543258667,
        "wires": []
    },
    {
        "id": "9b3c54e.c26fda8",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [
            "fe229608.c4d0f8"
        ],
        "x": 133,
        "y": 1075.140609741211,
        "wires": [
            [
                "aeb3c6b8.343d68",
                "6e7677c3.0032d8",
                "c158f4fb.41ed58",
                "a0ee84bb.267c48",
                "cef954f4.d10318"
            ]
        ]
    },
    {
        "id": "81953f3d.0faae",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Save machine sequens state",
        "rules": [
            {
                "t": "set",
                "p": "machine_sequense",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1182.1482276916504,
        "y": 930.0116786956787,
        "wires": [
            []
        ]
    },
    {
        "id": "60a2082e.d36728",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [
            "fa28a6df.aa94d8"
        ],
        "x": 128,
        "y": 935.1522932052612,
        "wires": [
            [
                "81953f3d.0faae",
                "e16269a5.fddcb8"
            ]
        ]
    },
    {
        "id": "75d4e2cf.34e2ec",
        "type": "ui_button",
        "z": "c2c5398c.2538a8",
        "name": "",
        "group": "24702b4.086c7d4",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stopp",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Kultivera",
        "x": 1095.0000648498535,
        "y": 1759.0039796829224,
        "wires": [
            [
                "150e8dea.50aed2"
            ]
        ]
    },
    {
        "id": "150e8dea.50aed2",
        "type": "link out",
        "z": "c2c5398c.2538a8",
        "name": "Machine stop command ",
        "links": [
            "356036e3.02272a"
        ],
        "x": 1292.8750972747803,
        "y": 1759.1912784576416,
        "wires": []
    },
    {
        "id": "d5888f7a.df52b",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Handling abort button for watering",
        "info": "",
        "x": 248.00001907348633,
        "y": 1713.003749847412,
        "wires": []
    },
    {
        "id": "7602676b.070c98",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [],
        "x": 127.0000114440918,
        "y": 1766.0037384033203,
        "wires": [
            [
                "9f836098.fb9b9"
            ]
        ]
    },
    {
        "id": "758f3239.c09c4c",
        "type": "ui_button",
        "z": "c2c5398c.2538a8",
        "name": "",
        "group": "24702b4.086c7d4",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Återstart",
        "color": "",
        "bgcolor": "orange",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Kultivera",
        "x": 1105.0000648498535,
        "y": 1644.0039796829224,
        "wires": [
            [
                "cd6ab093.7d021"
            ]
        ]
    },
    {
        "id": "cd6ab093.7d021",
        "type": "link out",
        "z": "c2c5398c.2538a8",
        "name": "Machine restart command ",
        "links": [
            "4820418b.a05ed"
        ],
        "x": 1292.8750972747803,
        "y": 1644.1912784576416,
        "wires": []
    },
    {
        "id": "406ada01.52f2b4",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Handling restart button for machine",
        "info": "",
        "x": 248.00001907348633,
        "y": 1598.003749847412,
        "wires": []
    },
    {
        "id": "286c338f.a16bdc",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [],
        "x": 127.0000114440918,
        "y": 1651.0037384033203,
        "wires": [
            [
                "cd583db9.9ae2b"
            ]
        ]
    },
    {
        "id": "96e4c23b.f1e54",
        "type": "ui_button",
        "z": "c2c5398c.2538a8",
        "name": "",
        "group": "24702b4.086c7d4",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Starta såning",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Kultivera",
        "x": 909.0001525878906,
        "y": 1532.0040912628174,
        "wires": [
            [
                "1d709a5c.3a9a16"
            ]
        ]
    },
    {
        "id": "59849241.901efc",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Sequens running?",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "machine_sequense",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 288.927921295166,
        "y": 1535.4466161727905,
        "wires": [
            [
                "59ad5961.4fd5a8"
            ]
        ]
    },
    {
        "id": "59ad5961.4fd5a8",
        "type": "function",
        "z": "c2c5398c.2538a8",
        "name": "Invert",
        "func": "\nif(msg.enabled){\n    msg.enabled = false;\n}else{\n    msg.enabled = true;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 472.9200859069824,
        "y": 1535.6029787063599,
        "wires": [
            [
                "96e4c23b.f1e54"
            ]
        ]
    },
    {
        "id": "fab20ff2.39a0d",
        "type": "link out",
        "z": "c2c5398c.2538a8",
        "name": "Machine planting start command ",
        "links": [
            "84fe814b.f9cee",
            "a9538641.41d378"
        ],
        "x": 1300.879259109497,
        "y": 1534.1875925064087,
        "wires": []
    },
    {
        "id": "f5e17336.12469",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [],
        "x": 129.00000381469727,
        "y": 1536.0039587020874,
        "wires": [
            [
                "59849241.901efc"
            ]
        ]
    },
    {
        "id": "4cda3d1.909a6c4",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Handling start button for placing ..",
        "info": "",
        "x": 239.0000114440918,
        "y": 1481.0038967132568,
        "wires": []
    },
    {
        "id": "79e24119.50011",
        "type": "template",
        "z": "c2c5398c.2538a8",
        "name": "Cultivation started",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Kuliverar",
        "x": 940.0196380615234,
        "y": 115.00390625,
        "wires": [
            [
                "3977df72.020cc",
                "a7c68d01.8da79"
            ]
        ]
    },
    {
        "id": "216b64fd.c193fc",
        "type": "template",
        "z": "c2c5398c.2538a8",
        "name": "Planting started",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Sår",
        "x": 930.0196380615234,
        "y": 173.00390625,
        "wires": [
            [
                "3977df72.020cc",
                "18dd495d.b7ef17"
            ]
        ]
    },
    {
        "id": "fd734166.9408c",
        "type": "template",
        "z": "c2c5398c.2538a8",
        "name": "Stopped",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Stopped",
        "x": 910.0196113586426,
        "y": 228.00391006469727,
        "wires": [
            [
                "3977df72.020cc",
                "9c1271da.70544"
            ]
        ]
    },
    {
        "id": "bbca225d.624bf",
        "type": "template",
        "z": "c2c5398c.2538a8",
        "name": "Aborting",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Avbryter",
        "x": 910.0195655822754,
        "y": 283.0039072036743,
        "wires": [
            [
                "3977df72.020cc",
                "f12d0ead.72b66"
            ]
        ]
    },
    {
        "id": "f12d0ead.72b66",
        "type": "link out",
        "z": "c2c5398c.2538a8",
        "name": "Machine aborting",
        "links": [
            "44d480ed.c8ff5",
            "78666650.d51d78",
            "59546258.dcd50c"
        ],
        "x": 1153.8909158706665,
        "y": 281.18750381469727,
        "wires": []
    },
    {
        "id": "e16269a5.fddcb8",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Save machine moving state",
        "rules": [
            {
                "t": "set",
                "p": "machine_moving",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1186.01953125,
        "y": 975.00390625,
        "wires": [
            []
        ]
    },
    {
        "id": "6e7677c3.0032d8",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Save machine sequens state",
        "rules": [
            {
                "t": "set",
                "p": "machine_sequense",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1187.01953125,
        "y": 1089.00390625,
        "wires": [
            []
        ]
    },
    {
        "id": "c158f4fb.41ed58",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Save machine moving state",
        "rules": [
            {
                "t": "set",
                "p": "machine_moving",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190.8908348083496,
        "y": 1133.9961338043213,
        "wires": [
            []
        ]
    },
    {
        "id": "68d2c0f.ce61a4",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Machine stopped event",
        "info": "",
        "x": 212.01953125,
        "y": 1200.00390625,
        "wires": []
    },
    {
        "id": "77e727a.4aeb0d8",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Save machine moving state",
        "rules": [
            {
                "t": "set",
                "p": "machine_moving",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1188.01953125,
        "y": 1256.00390625,
        "wires": [
            []
        ]
    },
    {
        "id": "9c1271da.70544",
        "type": "link out",
        "z": "c2c5398c.2538a8",
        "name": "Machine stopped",
        "links": [
            "116eda20.637296"
        ],
        "x": 1150.89453125,
        "y": 217.20312309265137,
        "wires": []
    },
    {
        "id": "116eda20.637296",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [
            "9c1271da.70544"
        ],
        "x": 127.88672256469727,
        "y": 1264.1445407867432,
        "wires": [
            [
                "77e727a.4aeb0d8"
            ]
        ]
    },
    {
        "id": "a9538641.41d378",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [
            "fab20ff2.39a0d"
        ],
        "x": 128.89844131469727,
        "y": 977.1367263793945,
        "wires": [
            [
                "81953f3d.0faae",
                "e16269a5.fddcb8"
            ]
        ]
    },
    {
        "id": "356036e3.02272a",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [
            "150e8dea.50aed2"
        ],
        "x": 685.8945999145508,
        "y": 229.1367244720459,
        "wires": [
            [
                "fd734166.9408c"
            ]
        ]
    },
    {
        "id": "2b2837d0.4fc9d8",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [
            "fa28a6df.aa94d8"
        ],
        "x": 690.8945236206055,
        "y": 116.13281726837158,
        "wires": [
            [
                "79e24119.50011"
            ]
        ]
    },
    {
        "id": "84fe814b.f9cee",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [
            "fab20ff2.39a0d"
        ],
        "x": 690.8828053474426,
        "y": 171.1328182220459,
        "wires": [
            [
                "216b64fd.c193fc"
            ]
        ]
    },
    {
        "id": "81787d8f.86bfd",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [
            "b1e1e73c.1f8908"
        ],
        "x": 685.8828048706055,
        "y": 281.1367254257202,
        "wires": [
            [
                "bbca225d.624bf"
            ]
        ]
    },
    {
        "id": "9f836098.fb9b9",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Machine running?",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "machine_moving",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 289.01953887939453,
        "y": 1766.0039196014404,
        "wires": [
            [
                "75d4e2cf.34e2ec"
            ]
        ]
    },
    {
        "id": "c8362a6c.0d6938",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Sequens running?",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "machine_sequense",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 287.01953887939453,
        "y": 1876.0039825439453,
        "wires": [
            [
                "66202d1.e76b9d4"
            ]
        ]
    },
    {
        "id": "cd583db9.9ae2b",
        "type": "function",
        "z": "c2c5398c.2538a8",
        "name": "Sequens active but stopped",
        "func": "var sqe = flow.get('machine_sequense');\nvar moving = flow.get('machine_moving');\n\nif(sqe && !moving)\n{\n    msg.enabled = true;\n}\nelse\n{\n    msg.enabled = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 335.01953125,
        "y": 1650.00390625,
        "wires": [
            [
                "758f3239.c09c4c"
            ]
        ]
    },
    {
        "id": "59546258.dcd50c",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [
            "f12d0ead.72b66"
        ],
        "x": 134.89844131469727,
        "y": 1121.8984375,
        "wires": [
            [
                "cd1cd8e2.3bd088"
            ]
        ]
    },
    {
        "id": "cef954f4.d10318",
        "type": "link out",
        "z": "c2c5398c.2538a8",
        "name": "Machine finished event",
        "links": [
            "cc880bb8.cf5798"
        ],
        "x": 899.8906230926514,
        "y": 1201.9375648498535,
        "wires": []
    },
    {
        "id": "cc880bb8.cf5798",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [
            "cef954f4.d10318"
        ],
        "x": 686.8945608139038,
        "y": 60.88671875,
        "wires": [
            [
                "988845b7.704b78"
            ]
        ]
    },
    {
        "id": "cd1cd8e2.3bd088",
        "type": "delay",
        "z": "c2c5398c.2538a8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 287.01953506469727,
        "y": 1122.0040340423584,
        "wires": [
            [
                "cef954f4.d10318",
                "c158f4fb.41ed58",
                "6e7677c3.0032d8",
                "aeb3c6b8.343d68",
                "a0ee84bb.267c48"
            ]
        ]
    },
    {
        "id": "cbde471c.5e7e08",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [
            "c1ae6faf.c0e"
        ],
        "x": 613.8828411102295,
        "y": 83.89062404632568,
        "wires": [
            [
                "79e24119.50011"
            ]
        ]
    },
    {
        "id": "4820418b.a05ed",
        "type": "link in",
        "z": "c2c5398c.2538a8",
        "name": "",
        "links": [
            "cd6ab093.7d021"
        ],
        "x": 79.8828432559967,
        "y": 154.13281726837158,
        "wires": [
            [
                "ae60dc01.1a44e"
            ]
        ]
    },
    {
        "id": "b36e49c7.41a698",
        "type": "switch",
        "z": "c2c5398c.2538a8",
        "name": "Sequence type",
        "property": "machine_sequence_type",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 500.8828430175781,
        "y": 155.13671875,
        "wires": [
            [
                "79e24119.50011"
            ],
            [
                "216b64fd.c193fc"
            ]
        ]
    },
    {
        "id": "a0ee84bb.267c48",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Set sequence type to 0",
        "rules": [
            {
                "t": "set",
                "p": "machine_sequence_type",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1181.019546508789,
        "y": 1179.003924369812,
        "wires": [
            []
        ]
    },
    {
        "id": "e82e7ca1.212",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Set machine sequence type to 0",
        "rules": [
            {
                "t": "set",
                "p": "machine_sequence_type",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 909.8984298706055,
        "y": 2378.1173095703125,
        "wires": [
            []
        ]
    },
    {
        "id": "a7c68d01.8da79",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Set sequence type to 1",
        "rules": [
            {
                "t": "set",
                "p": "machine_sequence_type",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1346.89453125,
        "y": 107.11328601837158,
        "wires": [
            []
        ]
    },
    {
        "id": "18dd495d.b7ef17",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Set sequence type to 2",
        "rules": [
            {
                "t": "set",
                "p": "machine_sequence_type",
                "pt": "flow",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1349.019546508789,
        "y": 165.00390625,
        "wires": [
            []
        ]
    },
    {
        "id": "ae60dc01.1a44e",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Save machine moving state",
        "rules": [
            {
                "t": "set",
                "p": "machine_moving",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 266.01953125,
        "y": 154.00390720367432,
        "wires": [
            [
                "b36e49c7.41a698"
            ]
        ]
    },
    {
        "id": "7b3f1a94.dd4fa4",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Set count to intervall value",
        "rules": [
            {
                "t": "set",
                "p": "cultivation_count",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1136.01953125,
        "y": 1427.0039691925049,
        "wires": [
            [
                "fa28a6df.aa94d8"
            ]
        ]
    },
    {
        "id": "1d709a5c.3a9a16",
        "type": "change",
        "z": "c2c5398c.2538a8",
        "name": "Set count to intervall value",
        "rules": [
            {
                "t": "set",
                "p": "cultivation_count",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1141.01953125,
        "y": 1532.00390625,
        "wires": [
            [
                "fab20ff2.39a0d"
            ]
        ]
    },
    {
        "id": "9fc3a6e5.20c0f8",
        "type": "inject",
        "z": "c2c5398c.2538a8",
        "name": "",
        "topic": "Trigger each sec",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "x": 242.01953125,
        "y": 2494.00390625,
        "wires": [
            [
                "80d3a03e.a2a5c"
            ]
        ]
    },
    {
        "id": "49117e52.f5c44",
        "type": "inject",
        "z": "c2c5398c.2538a8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 193.01946449279785,
        "y": 2635.004198074341,
        "wires": [
            [
                "8339462f.53fa28"
            ]
        ]
    },
    {
        "id": "80d3a03e.a2a5c",
        "type": "link out",
        "z": "c2c5398c.2538a8",
        "name": "Seconde puls",
        "links": [
            "286c338f.a16bdc",
            "47ab2986.19a428",
            "53657af9.da2694",
            "6e1ed52b.fdf27c",
            "7602676b.070c98",
            "a2417e1a.4a1c1",
            "f5e17336.12469",
            "ff8b5001.950eb"
        ],
        "x": 445.71947288513184,
        "y": 2493.2705039978027,
        "wires": []
    },
    {
        "id": "f1b6189f.82a568",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Create a seconde puls",
        "info": "",
        "x": 221.71946716308594,
        "y": 2446.2705078125,
        "wires": []
    },
    {
        "id": "8339462f.53fa28",
        "type": "link out",
        "z": "c2c5398c.2538a8",
        "name": "Startup",
        "links": [
            "5a6a741e.e6715c",
            "70dca4b6.bbd21c"
        ],
        "x": 448.6179504394531,
        "y": 2637.470012664795,
        "wires": []
    },
    {
        "id": "c0fe55a9.19ef48",
        "type": "comment",
        "z": "c2c5398c.2538a8",
        "name": "Create startup puls",
        "info": "",
        "x": 213.73896408081055,
        "y": 2581.274408340454,
        "wires": []
    },
    {
        "id": "e09778c1.301428",
        "type": "switch",
        "z": "c2c5398c.2538a8",
        "name": "",
        "property": "machine_sequense",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 460.8906898498535,
        "y": 516.1367483139038,
        "wires": [
            [
                "c1ae6faf.c0e"
            ]
        ]
    },
    {
        "id": "de700eed.3bf7",
        "type": "switch",
        "z": "c2c5398c.2538a8",
        "name": "",
        "property": "machine_sequense",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 447.01954650878906,
        "y": 654.0039234161377,
        "wires": [
            [
                "f7cb0e24.8a6fd"
            ]
        ]
    },
    {
        "id": "24702b4.086c7d4",
        "type": "ui_group",
        "z": "",
        "name": "Maskin",
        "tab": "567d36e2.1f0048",
        "disp": true,
        "width": "7"
    },
    {
        "id": "567d36e2.1f0048",
        "type": "ui_tab",
        "z": "",
        "name": "Översikt",
        "icon": "dashboard",
        "order": "1"
    }
]