node-red/Node-red Complete.txt
[{"id":"72c4f86d.0ba9c8","type":"tab","label":"Watering"},{"id":"c2c5398c.2538a8","type":"tab","label":"Machine"},{"id":"39114115.0b5ede","type":"ui_group","z":"","name":"Bevattning","tab":"567d36e2.1f0048","order":1,"disp":true,"width":"7"},{"id":"567d36e2.1f0048","type":"ui_tab","z":"","name":"Översikt","icon":"dashboard","order":"1"},{"id":"ffb672b.7e3fb9","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"24702b4.086c7d4","type":"ui_group","z":"","name":"Maskin","tab":"567d36e2.1f0048","disp":true,"width":"7"},{"id":"6efefaf6.f47f34","type":"ui_tab","z":"","name":"Manuell","icon":"dashboard","order":2},{"id":"7664a5d5.24515c","type":"ui_numeric","z":"72c4f86d.0ba9c8","name":"","label":"Bevattningstid","group":"39114115.0b5ede","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} sek","min":0,"max":"6000","step":1,"x":658.3667602539062,"y":1715.6003093719482,"wires":[["edf72634.6b08b8"]]},{"id":"7bcd8e9b.608df","type":"ui_numeric","z":"72c4f86d.0ba9c8","name":"","label":"Intervall","group":"39114115.0b5ede","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} sek","min":0,"max":"6000","step":1,"x":663.0666885375977,"y":1662.0001106262207,"wires":[["29897ec0.ff26c2"]]},{"id":"7cb2f137.8cc79","type":"ui_text","z":"72c4f86d.0ba9c8","group":"39114115.0b5ede","order":1,"width":"7","height":"1","name":"Watering status","label":"","format":"{{msg.payload}}","layout":"row-left","x":1357.3671112060547,"y":54.60004806518555,"wires":[]},{"id":"a12c98c6.1da6a8","type":"ui_text","z":"72c4f86d.0ba9c8","group":"39114115.0b5ede","order":2,"width":"7","height":"1","name":"","label":"Bevattning om","format":"{{msg.payload}}","layout":"row-left","x":1271.3670806884766,"y":1036.600193977356,"wires":[]},{"id":"4abdb113.7be34","type":"template","z":"72c4f86d.0ba9c8","name":"Format calculated value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.water_count}} sek","x":861.3002624511719,"y":1039.2669582366943,"wires":[["a12c98c6.1da6a8"]]},{"id":"a4b9479d.ec3658","type":"function","z":"72c4f86d.0ba9c8","name":"Calc new value","func":"var count = flow.get('water_count');\nvar newCount = Number(count) - 1;\n\nvar newMsg = msg;\nnewMsg.payload = newCount;\n\nflow.set('water_count', newCount);\n\nreturn newMsg;","outputs":1,"noerr":0,"x":457.3000793457031,"y":1042.266897201538,"wires":[["4abdb113.7be34"]]},{"id":"6c4a5241.5aa6cc","type":"change","z":"72c4f86d.0ba9c8","name":"Set count to intervall","rules":[{"t":"set","p":"water_count","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":878.3000640869141,"y":1610.000202178955,"wires":[[]]},{"id":"8380bb1f.4d7898","type":"template","z":"72c4f86d.0ba9c8","name":"Watering","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Bevatning utförs","x":973.3000755310059,"y":107.00000762939453,"wires":[["7cb2f137.8cc79","f04afa81.bb2568"]]},{"id":"37081e3d.43f822","type":"template","z":"72c4f86d.0ba9c8","name":"Watering done","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Väntar på beordring","x":996.0000305175781,"y":170.00000381469727,"wires":[["7cb2f137.8cc79","15433.017e8bce"]]},{"id":"ef490679.796348","type":"change","z":"72c4f86d.0ba9c8","name":"Set count to intervall value","rules":[{"t":"set","p":"water_count","pt":"flow","to":"watering_intervall","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1195.000259399414,"y":566.0000686645508,"wires":[[]]},{"id":"303009f.2b420f6","type":"switch","z":"72c4f86d.0ba9c8","name":"If count <= 0","property":"water_count","propertyType":"flow","rules":[{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":294.3001174926758,"y":1198.4666996002197,"wires":[["e62f7b63.8105f8"]]},{"id":"edf72634.6b08b8","type":"change","z":"72c4f86d.0ba9c8","name":"Set watering time from input","rules":[{"t":"set","p":"watering_time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":898.9999542236328,"y":1716.0002326965332,"wires":[[]]},{"id":"e826d603.a6ab68","type":"template","z":"72c4f86d.0ba9c8","name":"Init value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.watering_time}}","x":485.3000946044922,"y":1714.200122833252,"wires":[["7664a5d5.24515c"]]},{"id":"7211a2f2.aebaec","type":"template","z":"72c4f86d.0ba9c8","name":"Init value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.watering_intervall}}","x":481.99998474121094,"y":1662.0001106262207,"wires":[["7bcd8e9b.608df"]]},{"id":"29897ec0.ff26c2","type":"change","z":"72c4f86d.0ba9c8","name":"Set intervall value from input","rules":[{"t":"set","p":"watering_intervall","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":899.3000640869141,"y":1660.200122833252,"wires":[[]]},{"id":"af53fbe8.8a8698","type":"template","z":"72c4f86d.0ba9c8","name":"Init value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.watering_intervall}}","x":478.0000457763672,"y":1612.0001411437988,"wires":[["6c4a5241.5aa6cc"]]},{"id":"88dc159c.655278","type":"comment","z":"72c4f86d.0ba9c8","name":"Init values","info":"","x":176.0000228881836,"y":1571.0002155303955,"wires":[]},{"id":"e5503ec8.e13c9","type":"comment","z":"72c4f86d.0ba9c8","name":"Watering logic","info":"","x":198,"y":20,"wires":[]},{"id":"954222a4.46ef3","type":"comment","z":"72c4f86d.0ba9c8","name":"Handling count down for next watering","info":"","x":280.0000305175781,"y":993.0001125335693,"wires":[]},{"id":"4fdd295f.b48d48","type":"link in","z":"72c4f86d.0ba9c8","name":"","links":["308aafc1.ca5"],"x":146.00000858306885,"y":1198.5000286102295,"wires":[["303009f.2b420f6"]]},{"id":"ae767f1a.dec6a","type":"link in","z":"72c4f86d.0ba9c8","name":"","links":["308aafc1.ca5"],"x":151.00003051757812,"y":1040.5001125335693,"wires":[["a4b9479d.ec3658"]]},{"id":"99724ef.54173b","type":"change","z":"72c4f86d.0ba9c8","name":"Disbale watering button","rules":[{"t":"set","p":"watering","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":891.0195465087891,"y":1775.0040168762207,"wires":[[]]},{"id":"a03ca4b9.710e28","type":"change","z":"72c4f86d.0ba9c8","name":"Save watering state","rules":[{"t":"set","p":"watering","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1169.0196990966797,"y":613.0039143562317,"wires":[[]]},{"id":"5fdbc681.7b13b8","type":"ui_button","z":"72c4f86d.0ba9c8","name":"","group":"39114115.0b5ede","order":8,"width":0,"height":0,"passthru":false,"label":"Avbryt","color":"","bgcolor":"grey","icon":"","payload":"","payloadType":"str","topic":"Kultivera","x":1119.0195922851562,"y":885.0041542053223,"wires":[["16b27dcf.d475f2"]]},{"id":"f093eae6.30e1c8","type":"change","z":"72c4f86d.0ba9c8","name":"Watering","rules":[{"t":"set","p":"enabled","pt":"msg","to":"watering","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":285.0195541381836,"y":893.003945350647,"wires":[["5fdbc681.7b13b8"]]},{"id":"16b27dcf.d475f2","type":"link out","z":"72c4f86d.0ba9c8","name":"Watering abort command ","links":["da0f003b.3bd96","c6fc1c34.3082b"],"x":1316.894624710083,"y":885.1914529800415,"wires":[]},{"id":"1ff8916b.b8d6bf","type":"comment","z":"72c4f86d.0ba9c8","name":"Handling abort button for watering","info":"","x":272.01954650878906,"y":839.003924369812,"wires":[]},{"id":"29674acc.dab1f6","type":"ui_button","z":"72c4f86d.0ba9c8","name":"","group":"39114115.0b5ede","order":5,"width":0,"height":0,"passthru":false,"label":"Starta bevattning","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Kultivera","x":1156.0197143554688,"y":749.0040283203125,"wires":[["446d177.43b7ee8"]]},{"id":"f67838e5.44f9f8","type":"change","z":"72c4f86d.0ba9c8","name":"Watering?","rules":[{"t":"set","p":"enabled","pt":"msg","to":"watering","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":282.94744873046875,"y":751.4466876983643,"wires":[["7264d694.48a4b8"]]},{"id":"7264d694.48a4b8","type":"function","z":"72c4f86d.0ba9c8","name":"Invert","func":"\nif(msg.enabled){\n    msg.enabled = false;\n}else{\n    msg.enabled = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":448.93957901000977,"y":750.6029329299927,"wires":[["29674acc.dab1f6"]]},{"id":"446d177.43b7ee8","type":"link out","z":"72c4f86d.0ba9c8","name":"Watering start command ","links":["41193d99.084734","9c622760.181178"],"x":1312.898675918579,"y":749.1876058578491,"wires":[]},{"id":"41193d99.084734","type":"link in","z":"72c4f86d.0ba9c8","name":"","links":["446d177.43b7ee8"],"x":501.88672065734863,"y":64.14844131469727,"wires":[["7c39b553.14796c"]]},{"id":"ac4eb8de.755b88","type":"link in","z":"72c4f86d.0ba9c8","name":"","links":["308aafc1.ca5"],"x":143.01953125,"y":752.0040302276611,"wires":[["f67838e5.44f9f8"]]},{"id":"f463fb55.ef5af8","type":"link in","z":"72c4f86d.0ba9c8","name":"","links":["308aafc1.ca5"],"x":151.01953887939453,"y":892.0039129257202,"wires":[["f093eae6.30e1c8"]]},{"id":"6108d38b.ebf6bc","type":"comment","z":"72c4f86d.0ba9c8","name":"Handling start button for watering","info":"","x":253.01953887939453,"y":697.0039682388306,"wires":[]},{"id":"eaaac0e.382644","type":"comment","z":"72c4f86d.0ba9c8","name":"Watering finished event","info":"","x":225.01953887939453,"y":551.0039319992065,"wires":[]},{"id":"88c3ef8e.3a6ce","type":"comment","z":"72c4f86d.0ba9c8","name":"Watering started event","info":"","x":220.01953887939453,"y":419.0039167404175,"wires":[]},{"id":"15433.017e8bce","type":"link out","z":"72c4f86d.0ba9c8","name":"Watering finsihed","links":["36903a67.ac04b6"],"x":1296.890733718872,"y":168.19140529632568,"wires":[]},{"id":"36903a67.ac04b6","type":"link in","z":"72c4f86d.0ba9c8","name":"","links":["15433.017e8bce","2fee6759.5db9f8"],"x":143.8906364440918,"y":596.1367721557617,"wires":[["ef490679.796348","a03ca4b9.710e28"]]},{"id":"7c39b553.14796c","type":"change","z":"72c4f86d.0ba9c8","name":"Set count to 0","rules":[{"t":"set","p":"water_count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":657.0195846557617,"y":73.0039644241333,"wires":[["8380bb1f.4d7898"]]},{"id":"ef6c3810.ec3aa8","type":"change","z":"72c4f86d.0ba9c8","name":"Save watering state","rules":[{"t":"set","p":"watering","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1163.0388641357422,"y":451.0078411102295,"wires":[[]]},{"id":"4d2d71e6.46075","type":"link in","z":"72c4f86d.0ba9c8","name":"","links":["f04afa81.bb2568","5a215caa.1ec324"],"x":138.8906364440918,"y":456.148455619812,"wires":[["ef6c3810.ec3aa8"]]},{"id":"f04afa81.bb2568","type":"link out","z":"72c4f86d.0ba9c8","name":"Watering started","links":["4d2d71e6.46075"],"x":1293.898515701294,"y":100.19921875,"wires":[]},{"id":"85b2811d.fe35c","type":"comment","z":"72c4f86d.0ba9c8","name":"Start command","info":"","x":340.01953887939453,"y":64.00391006469727,"wires":[]},{"id":"da0f003b.3bd96","type":"link in","z":"72c4f86d.0ba9c8","name":"","links":["16b27dcf.d475f2"],"x":502.8828706741333,"y":219.13281059265137,"wires":[["37081e3d.43f822"]]},{"id":"55691ac1.d8ae14","type":"comment","z":"72c4f86d.0ba9c8","name":"Abort command","info":"","x":342.01953125,"y":217.00390815734863,"wires":[]},{"id":"a77a0bac.b1bcf8","type":"comment","z":"72c4f86d.0ba9c8","name":"Handling automatic start of watering","info":"","x":269.01953125,"y":1142.0039291381836,"wires":[]},{"id":"e62f7b63.8105f8","type":"link out","z":"72c4f86d.0ba9c8","name":"Watering automatic start","links":["aa5998b6.47e9d8"],"x":1314.8867359161377,"y":1190.2032165527344,"wires":[]},{"id":"489a1a24.2e4aa4","type":"comment","z":"72c4f86d.0ba9c8","name":"Handling automatic stop of watering","info":"","x":271.01953125,"y":1295.003930091858,"wires":[]},{"id":"f0915a14.85e148","type":"link out","z":"72c4f86d.0ba9c8","name":"Watering automatic stop","links":["cd848bc7.023958"],"x":1313.88671875,"y":1350.2032470703125,"wires":[]},{"id":"3090f774.73b908","type":"function","z":"72c4f86d.0ba9c8","name":"Watering for spec. time","func":"var count = flow.get('water_count');\nvar target = flow.get('watering_time');\n\nvar newMsg = msg;\nif(count <= (target*-1))\n{\n    newMsg.payload = true;\n}else{\n    newMsg.payload = false;\n}\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":782.0195617675781,"y":1359.0040283203125,"wires":[["84ed1073.38985"]]},{"id":"f82bd88f.55ff68","type":"switch","z":"72c4f86d.0ba9c8","name":"If count <= 0","property":"water_count","propertyType":"flow","rules":[{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":298.0196075439453,"y":1359.2706565856934,"wires":[["3090f774.73b908"]]},{"id":"84ed1073.38985","type":"switch","z":"72c4f86d.0ba9c8","name":"Done?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":998.0195922851562,"y":1358.00390625,"wires":[["f0915a14.85e148"],[]]},{"id":"10d4daef.5289d5","type":"link in","z":"72c4f86d.0ba9c8","name":"","links":["308aafc1.ca5"],"x":146.71949863433838,"y":1360.3039274215698,"wires":[["f82bd88f.55ff68"]]},{"id":"aa5998b6.47e9d8","type":"link in","z":"72c4f86d.0ba9c8","name":"","links":["e62f7b63.8105f8"],"x":499.8828411102295,"y":108.14844703674316,"wires":[["8380bb1f.4d7898"]]},{"id":"fbb681ec.c6a9f","type":"comment","z":"72c4f86d.0ba9c8","name":"Automatic start command","info":"","x":371.01954650878906,"y":109.00391006469727,"wires":[]},{"id":"55b31237.9e27ac","type":"comment","z":"72c4f86d.0ba9c8","name":"Automatic stop command","info":"","x":370.01953125,"y":169.00390625,"wires":[]},{"id":"cd848bc7.023958","type":"link in","z":"72c4f86d.0ba9c8","name":"","links":["f0915a14.85e148"],"x":502.8828411102295,"y":165.1406307220459,"wires":[["37081e3d.43f822"]]},{"id":"e8e2e68a.7fc688","type":"link in","z":"72c4f86d.0ba9c8","name":"","links":["8496e0d8.810e6"],"x":133.89844131469727,"y":1683.144718170166,"wires":[["af53fbe8.8a8698","7211a2f2.aebaec","e826d603.a6ab68","99724ef.54173b"]]},{"id":"a8349431.033948","type":"comment","z":"72c4f86d.0ba9c8","name":"Start puls","info":"","x":248.01953125,"y":1654.0039920806885,"wires":[]},{"id":"3aaecdfe.857c92","type":"comment","z":"72c4f86d.0ba9c8","name":"Create empty space between buttons","info":"","x":271.01953125,"y":1426.00390625,"wires":[]},{"id":"3fe8958.d8d336a","type":"ui_template","z":"72c4f86d.0ba9c8","group":"39114115.0b5ede","name":"Watering empty space","order":6,"width":"7","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":220.89453887939453,"y":1470.644624710083,"wires":[[]]},{"id":"3977df72.020cc","type":"ui_text","z":"c2c5398c.2538a8","group":"24702b4.086c7d4","order":1,"width":0,"height":0,"name":"Machine status","label":"","format":"{{msg.payload}}","layout":"row-left","x":1315.8945770263672,"y":51.75390625,"wires":[]},{"id":"fd52e377.080b","type":"comment","z":"c2c5398c.2538a8","name":"Machine logic","info":"","x":177.01953125,"y":40.00390625,"wires":[]},{"id":"988845b7.704b78","type":"template","z":"c2c5398c.2538a8","name":"Machine waiting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Väntar på beordering","x":932.0197296142578,"y":52.003910064697266,"wires":[["3977df72.020cc"]]},{"id":"70dca4b6.bbd21c","type":"link in","z":"c2c5398c.2538a8","name":"","links":["8339462f.53fa28"],"x":690.8945236206055,"y":20,"wires":[["988845b7.704b78"]]},{"id":"50cdf202.95f35c","type":"comment","z":"c2c5398c.2538a8","name":"Startup","info":"","x":606.0195388793945,"y":21.003911018371582,"wires":[]},{"id":"f0ee852d.06ec68","type":"ui_text","z":"c2c5398c.2538a8","group":"24702b4.086c7d4","order":2,"width":"7","height":"1","name":"","label":"Kultivering om","format":"{{msg.payload}}","layout":"row-left","x":1228.3671264648438,"y":788.0039672851562,"wires":[]},{"id":"518dfa05.f53864","type":"template","z":"c2c5398c.2538a8","name":"Format calculated value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.cultivation_count}} sek","x":841.3002433776855,"y":788.6707229614258,"wires":[["f0ee852d.06ec68"]]},{"id":"4f8eb26.29cd44c","type":"function","z":"c2c5398c.2538a8","name":"Calc new value","func":"var count = flow.get('cultivation_count');\nvar newCount = Number(count) - 1;\n\nvar newMsg = msg;\nnewMsg.payload = newCount;\n\nflow.set('cultivation_count', newCount);\n\nreturn newMsg;","outputs":1,"noerr":0,"x":437.3000602722168,"y":791.6706619262695,"wires":[["518dfa05.f53864"]]},{"id":"5733d0b7.47a7a","type":"comment","z":"c2c5398c.2538a8","name":"Handling count down for next cultivation","info":"","x":260.0000114440918,"y":742.4038772583008,"wires":[]},{"id":"a2417e1a.4a1c1","type":"link in","z":"c2c5398c.2538a8","name":"","links":[],"x":131.0000114440918,"y":789.9038772583008,"wires":[["4f8eb26.29cd44c"]]},{"id":"b13f43e.dcb71c","type":"ui_numeric","z":"c2c5398c.2538a8","name":"","label":"Intervall","group":"24702b4.086c7d4","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} sek","min":0,"max":"6000","step":1,"x":663.168270111084,"y":2226.4037113189697,"wires":[["473421ca.86a18"]]},{"id":"d1afd9da.5104e8","type":"change","z":"c2c5398c.2538a8","name":"Set cultivation count to intervall","rules":[{"t":"set","p":"cultivation_count","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":908.4016456604004,"y":2174.403802871704,"wires":[[]]},{"id":"e003b191.b32e4","type":"template","z":"c2c5398c.2538a8","name":"Init value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.cultivation_intervall}}","x":482.10156631469727,"y":2226.4037113189697,"wires":[["b13f43e.dcb71c"]]},{"id":"473421ca.86a18","type":"change","z":"c2c5398c.2538a8","name":"Set cultivation intervall value from input","rules":[{"t":"set","p":"cultivation_intervall","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":929.4016456604004,"y":2224.603723526001,"wires":[[]]},{"id":"147b4959.c017e7","type":"template","z":"c2c5398c.2538a8","name":"Init value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.cultivation_intervall}}","x":478.1016273498535,"y":2176.403741836548,"wires":[["d1afd9da.5104e8"]]},{"id":"6665d73.b23c728","type":"comment","z":"c2c5398c.2538a8","name":"Init values","info":"","x":176.10160446166992,"y":2135.4038162231445,"wires":[]},{"id":"37d9fb76.46cbc4","type":"change","z":"c2c5398c.2538a8","name":"Set sequens state to not running","rules":[{"t":"set","p":"machine_sequense","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910.1211395263672,"y":2279.407609939575,"wires":[[]]},{"id":"5a6a741e.e6715c","type":"link in","z":"c2c5398c.2538a8","name":"","links":["8339462f.53fa28"],"x":134.0000228881836,"y":2247.548318862915,"wires":[["147b4959.c017e7","e003b191.b32e4","37d9fb76.46cbc4","4140c797.89b668","e82e7ca1.212"]]},{"id":"cc4a6d97.0f4ee","type":"comment","z":"c2c5398c.2538a8","name":"Start puls","info":"","x":248.12111282348633,"y":2218.4075927734375,"wires":[]},{"id":"4140c797.89b668","type":"change","z":"c2c5398c.2538a8","name":"Set moving state to not running","rules":[{"t":"set","p":"machine_moving","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":912.8828277587891,"y":2330.1054706573486,"wires":[[]]},{"id":"ad587801.26a6c8","type":"comment","z":"c2c5398c.2538a8","name":"Create empty space over buttons","info":"","x":243.0195541381836,"y":1975.0039100646973,"wires":[]},{"id":"50bb9363.f49ebc","type":"ui_template","z":"c2c5398c.2538a8","group":"24702b4.086c7d4","name":"Watering empty space","order":4,"width":"7","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":212.89456176757812,"y":2019.6446285247803,"wires":[[]]},{"id":"bccd68.ec668298","type":"switch","z":"c2c5398c.2538a8","name":"If count <= 0","property":"cultivation_count","propertyType":"flow","rules":[{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":276.0195426940918,"y":518.0039196014404,"wires":[["e09778c1.301428"]]},{"id":"53657af9.da2694","type":"link in","z":"c2c5398c.2538a8","name":"","links":[],"x":127.71943378448486,"y":518.0372486114502,"wires":[["bccd68.ec668298"]]},{"id":"42cafe22.f417c","type":"comment","z":"c2c5398c.2538a8","name":"Handling automatic start of cultivation","info":"","x":260.738956451416,"y":461.5411491394043,"wires":[]},{"id":"c1ae6faf.c0e","type":"link out","z":"c2c5398c.2538a8","name":"Machine automatic start","links":["cbde471c.5e7e08"],"x":1296.6061611175537,"y":509.7404365539551,"wires":[]},{"id":"d78564aa.cea888","type":"comment","z":"c2c5398c.2538a8","name":"Handling automatic stop of cultivation","info":"","x":260.738956451416,"y":592.54114818573,"wires":[]},{"id":"fe229608.c4d0f8","type":"link out","z":"c2c5398c.2538a8","name":"Machine automatic stop","links":["9b3c54e.c26fda8"],"x":1300.6061611175537,"y":652.7404375076294,"wires":[]},{"id":"f7cb0e24.8a6fd","type":"function","z":"c2c5398c.2538a8","name":"Watering for spec. time","func":"var count = flow.get('cultivation_count');\nvar target = 20;\n\nvar newMsg = msg;\nif(count <= (target*-1))\n{\n    newMsg.payload = true;\n}else{\n    newMsg.payload = false;\n}\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":656.7389831542969,"y":654.5412082672119,"wires":[["bdb1d326.8bd42"]]},{"id":"986d92a7.aa619","type":"switch","z":"c2c5398c.2538a8","name":"If count <= 0","property":"cultivation_count","propertyType":"flow","rules":[{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":277.7390327453613,"y":656.8078746795654,"wires":[["de700eed.3bf7"]]},{"id":"bdb1d326.8bd42","type":"switch","z":"c2c5398c.2538a8","name":"Done?","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":915.739070892334,"y":653.5411319732666,"wires":[["fe229608.c4d0f8"]]},{"id":"47ab2986.19a428","type":"link in","z":"c2c5398c.2538a8","name":"","links":[],"x":123.43893146514893,"y":657.841118812561,"wires":[["986d92a7.aa619"]]},{"id":"aeb3c6b8.343d68","type":"change","z":"c2c5398c.2538a8","name":"Set count to intervall value","rules":[{"t":"set","p":"cultivation_count","pt":"flow","to":"cultivation_intervall","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1184.1096229553223,"y":1045.00390625,"wires":[[]]},{"id":"66202d1.e76b9d4","type":"ui_button","z":"c2c5398c.2538a8","name":"","group":"24702b4.086c7d4","order":9,"width":0,"height":0,"passthru":false,"label":"Avbryt","color":"","bgcolor":"grey","icon":"","payload":"","payloadType":"str","topic":"Kultivera","x":1097.1289253234863,"y":1867.00830078125,"wires":[["b1e1e73c.1f8908"]]},{"id":"b1e1e73c.1f8908","type":"link out","z":"c2c5398c.2538a8","name":"Watering abort command ","links":["81787d8f.86bfd"],"x":1301.0040035247803,"y":1868.19544506073,"wires":[]},{"id":"5bba78d0.864698","type":"comment","z":"c2c5398c.2538a8","name":"Handling abort button for watering","info":"","x":256.1289253234863,"y":1822.0079164505005,"wires":[]},{"id":"8b67ed49.73478","type":"ui_button","z":"c2c5398c.2538a8","name":"","group":"24702b4.086c7d4","order":5,"width":0,"height":0,"passthru":false,"label":"Starta kultivering","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Kultivera","x":899.1290435791016,"y":1428.0079355239868,"wires":[["7b3f1a94.dd4fa4"]]},{"id":"9360a13f.ddbfb","type":"change","z":"c2c5398c.2538a8","name":"Sequens running?","rules":[{"t":"set","p":"enabled","pt":"msg","to":"machine_sequense","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":293.0568161010742,"y":1428.45055103302,"wires":[["fee041c3.ea1d5"]]},{"id":"fee041c3.ea1d5","type":"function","z":"c2c5398c.2538a8","name":"Invert","func":"\nif(msg.enabled){\n    msg.enabled = false;\n}else{\n    msg.enabled = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":477.0489807128906,"y":1428.6069135665894,"wires":[["8b67ed49.73478"]]},{"id":"fa28a6df.aa94d8","type":"link out","z":"c2c5398c.2538a8","name":"Machine cultivation start command ","links":["2b2837d0.4fc9d8","60a2082e.d36728"],"x":1303.0080432891846,"y":1426.1914691925049,"wires":[]},{"id":"ff8b5001.950eb","type":"link in","z":"c2c5398c.2538a8","name":"","links":[],"x":133.12889862060547,"y":1429.007893562317,"wires":[["9360a13f.ddbfb"]]},{"id":"6e1ed52b.fdf27c","type":"link in","z":"c2c5398c.2538a8","name":"","links":[],"x":135.1289176940918,"y":1875.0079050064087,"wires":[["c8362a6c.0d6938"]]},{"id":"265a926e.7dabde","type":"comment","z":"c2c5398c.2538a8","name":"Handling start button for cultivation","info":"","x":253.12890625,"y":1374.0078315734863,"wires":[]},{"id":"86537973.7d8788","type":"comment","z":"c2c5398c.2538a8","name":"Machine sequens finished event","info":"","x":244.12890243530273,"y":1030.0077695846558,"wires":[]},{"id":"307f846e.edaf3c","type":"comment","z":"c2c5398c.2538a8","name":"Machine sequens started event","info":"","x":239.12890243530273,"y":898.0077543258667,"wires":[]},{"id":"9b3c54e.c26fda8","type":"link in","z":"c2c5398c.2538a8","name":"","links":["fe229608.c4d0f8"],"x":133,"y":1075.140609741211,"wires":[["aeb3c6b8.343d68","6e7677c3.0032d8","c158f4fb.41ed58","a0ee84bb.267c48","cef954f4.d10318"]]},{"id":"81953f3d.0faae","type":"change","z":"c2c5398c.2538a8","name":"Save machine sequens state","rules":[{"t":"set","p":"machine_sequense","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1182.1482276916504,"y":930.0116786956787,"wires":[[]]},{"id":"60a2082e.d36728","type":"link in","z":"c2c5398c.2538a8","name":"","links":["fa28a6df.aa94d8"],"x":128,"y":935.1522932052612,"wires":[["81953f3d.0faae","e16269a5.fddcb8"]]},{"id":"75d4e2cf.34e2ec","type":"ui_button","z":"c2c5398c.2538a8","name":"","group":"24702b4.086c7d4","order":8,"width":0,"height":0,"passthru":false,"label":"Stopp","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"Kultivera","x":1095.0000648498535,"y":1759.0039796829224,"wires":[["150e8dea.50aed2"]]},{"id":"150e8dea.50aed2","type":"link out","z":"c2c5398c.2538a8","name":"Machine stop command ","links":["356036e3.02272a"],"x":1292.8750972747803,"y":1759.1912784576416,"wires":[]},{"id":"d5888f7a.df52b","type":"comment","z":"c2c5398c.2538a8","name":"Handling abort button for watering","info":"","x":248.00001907348633,"y":1713.003749847412,"wires":[]},{"id":"7602676b.070c98","type":"link in","z":"c2c5398c.2538a8","name":"","links":[],"x":127.0000114440918,"y":1766.0037384033203,"wires":[["9f836098.fb9b9"]]},{"id":"758f3239.c09c4c","type":"ui_button","z":"c2c5398c.2538a8","name":"","group":"24702b4.086c7d4","order":7,"width":0,"height":0,"passthru":false,"label":"Återstart","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"Kultivera","x":1105.0000648498535,"y":1644.0039796829224,"wires":[["cd6ab093.7d021"]]},{"id":"cd6ab093.7d021","type":"link out","z":"c2c5398c.2538a8","name":"Machine restart command ","links":["4820418b.a05ed"],"x":1292.8750972747803,"y":1644.1912784576416,"wires":[]},{"id":"406ada01.52f2b4","type":"comment","z":"c2c5398c.2538a8","name":"Handling restart button for machine","info":"","x":248.00001907348633,"y":1598.003749847412,"wires":[]},{"id":"286c338f.a16bdc","type":"link in","z":"c2c5398c.2538a8","name":"","links":[],"x":127.0000114440918,"y":1651.0037384033203,"wires":[["cd583db9.9ae2b"]]},{"id":"96e4c23b.f1e54","type":"ui_button","z":"c2c5398c.2538a8","name":"","group":"24702b4.086c7d4","order":6,"width":0,"height":0,"passthru":false,"label":"Starta såning","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Kultivera","x":909.0001525878906,"y":1532.0040912628174,"wires":[["1d709a5c.3a9a16"]]},{"id":"59849241.901efc","type":"change","z":"c2c5398c.2538a8","name":"Sequens running?","rules":[{"t":"set","p":"enabled","pt":"msg","to":"machine_sequense","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":288.927921295166,"y":1535.4466161727905,"wires":[["59ad5961.4fd5a8"]]},{"id":"59ad5961.4fd5a8","type":"function","z":"c2c5398c.2538a8","name":"Invert","func":"\nif(msg.enabled){\n    msg.enabled = false;\n}else{\n    msg.enabled = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":472.9200859069824,"y":1535.6029787063599,"wires":[["96e4c23b.f1e54"]]},{"id":"fab20ff2.39a0d","type":"link out","z":"c2c5398c.2538a8","name":"Machine planting start command ","links":["84fe814b.f9cee","a9538641.41d378"],"x":1300.879259109497,"y":1534.1875925064087,"wires":[]},{"id":"f5e17336.12469","type":"link in","z":"c2c5398c.2538a8","name":"","links":[],"x":129.00000381469727,"y":1536.0039587020874,"wires":[["59849241.901efc"]]},{"id":"4cda3d1.909a6c4","type":"comment","z":"c2c5398c.2538a8","name":"Handling start button for placing ..","info":"","x":239.0000114440918,"y":1481.0038967132568,"wires":[]},{"id":"79e24119.50011","type":"template","z":"c2c5398c.2538a8","name":"Cultivation started","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Kuliverar","x":940.0196380615234,"y":115.00390625,"wires":[["3977df72.020cc","a7c68d01.8da79"]]},{"id":"216b64fd.c193fc","type":"template","z":"c2c5398c.2538a8","name":"Planting started","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Sår","x":930.0196380615234,"y":173.00390625,"wires":[["3977df72.020cc","18dd495d.b7ef17"]]},{"id":"fd734166.9408c","type":"template","z":"c2c5398c.2538a8","name":"Stopped","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Stopped","x":910.0196113586426,"y":228.00391006469727,"wires":[["3977df72.020cc","9c1271da.70544"]]},{"id":"bbca225d.624bf","type":"template","z":"c2c5398c.2538a8","name":"Aborting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Avbryter","x":910.0195655822754,"y":283.0039072036743,"wires":[["3977df72.020cc","f12d0ead.72b66"]]},{"id":"f12d0ead.72b66","type":"link out","z":"c2c5398c.2538a8","name":"Machine aborting","links":["44d480ed.c8ff5","78666650.d51d78","59546258.dcd50c"],"x":1153.8909158706665,"y":281.18750381469727,"wires":[]},{"id":"e16269a5.fddcb8","type":"change","z":"c2c5398c.2538a8","name":"Save machine moving state","rules":[{"t":"set","p":"machine_moving","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1186.01953125,"y":975.00390625,"wires":[[]]},{"id":"6e7677c3.0032d8","type":"change","z":"c2c5398c.2538a8","name":"Save machine sequens state","rules":[{"t":"set","p":"machine_sequense","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1187.01953125,"y":1089.00390625,"wires":[[]]},{"id":"c158f4fb.41ed58","type":"change","z":"c2c5398c.2538a8","name":"Save machine moving state","rules":[{"t":"set","p":"machine_moving","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190.8908348083496,"y":1133.9961338043213,"wires":[[]]},{"id":"68d2c0f.ce61a4","type":"comment","z":"c2c5398c.2538a8","name":"Machine stopped event","info":"","x":212.01953125,"y":1200.00390625,"wires":[]},{"id":"77e727a.4aeb0d8","type":"change","z":"c2c5398c.2538a8","name":"Save machine moving state","rules":[{"t":"set","p":"machine_moving","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1188.01953125,"y":1256.00390625,"wires":[[]]},{"id":"9c1271da.70544","type":"link out","z":"c2c5398c.2538a8","name":"Machine stopped","links":["116eda20.637296"],"x":1150.89453125,"y":217.20312309265137,"wires":[]},{"id":"116eda20.637296","type":"link in","z":"c2c5398c.2538a8","name":"","links":["9c1271da.70544"],"x":127.88672256469727,"y":1264.1445407867432,"wires":[["77e727a.4aeb0d8"]]},{"id":"a9538641.41d378","type":"link in","z":"c2c5398c.2538a8","name":"","links":["fab20ff2.39a0d"],"x":128.89844131469727,"y":977.1367263793945,"wires":[["81953f3d.0faae","e16269a5.fddcb8"]]},{"id":"356036e3.02272a","type":"link in","z":"c2c5398c.2538a8","name":"","links":["150e8dea.50aed2"],"x":685.8945999145508,"y":229.1367244720459,"wires":[["fd734166.9408c"]]},{"id":"2b2837d0.4fc9d8","type":"link in","z":"c2c5398c.2538a8","name":"","links":["fa28a6df.aa94d8"],"x":690.8945236206055,"y":116.13281726837158,"wires":[["79e24119.50011"]]},{"id":"84fe814b.f9cee","type":"link in","z":"c2c5398c.2538a8","name":"","links":["fab20ff2.39a0d"],"x":690.8828053474426,"y":171.1328182220459,"wires":[["216b64fd.c193fc"]]},{"id":"81787d8f.86bfd","type":"link in","z":"c2c5398c.2538a8","name":"","links":["b1e1e73c.1f8908"],"x":685.8828048706055,"y":281.1367254257202,"wires":[["bbca225d.624bf"]]},{"id":"9f836098.fb9b9","type":"change","z":"c2c5398c.2538a8","name":"Machine running?","rules":[{"t":"set","p":"enabled","pt":"msg","to":"machine_moving","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":289.01953887939453,"y":1766.0039196014404,"wires":[["75d4e2cf.34e2ec"]]},{"id":"c8362a6c.0d6938","type":"change","z":"c2c5398c.2538a8","name":"Sequens running?","rules":[{"t":"set","p":"enabled","pt":"msg","to":"machine_sequense","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":287.01953887939453,"y":1876.0039825439453,"wires":[["66202d1.e76b9d4"]]},{"id":"cd583db9.9ae2b","type":"function","z":"c2c5398c.2538a8","name":"Sequens active but stopped","func":"var sqe = flow.get('machine_sequense');\nvar moving = flow.get('machine_moving');\n\nif(sqe && !moving)\n{\n    msg.enabled = true;\n}\nelse\n{\n    msg.enabled = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":335.01953125,"y":1650.00390625,"wires":[["758f3239.c09c4c"]]},{"id":"59546258.dcd50c","type":"link in","z":"c2c5398c.2538a8","name":"","links":["f12d0ead.72b66"],"x":134.89844131469727,"y":1121.8984375,"wires":[["cd1cd8e2.3bd088"]]},{"id":"cef954f4.d10318","type":"link out","z":"c2c5398c.2538a8","name":"Machine finished event","links":["cc880bb8.cf5798"],"x":899.8906230926514,"y":1201.9375648498535,"wires":[]},{"id":"cc880bb8.cf5798","type":"link in","z":"c2c5398c.2538a8","name":"","links":["cef954f4.d10318"],"x":686.8945608139038,"y":60.88671875,"wires":[["988845b7.704b78"]]},{"id":"cd1cd8e2.3bd088","type":"delay","z":"c2c5398c.2538a8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":287.01953506469727,"y":1122.0040340423584,"wires":[["cef954f4.d10318","c158f4fb.41ed58","6e7677c3.0032d8","aeb3c6b8.343d68","a0ee84bb.267c48"]]},{"id":"cbde471c.5e7e08","type":"link in","z":"c2c5398c.2538a8","name":"","links":["c1ae6faf.c0e"],"x":613.8828411102295,"y":83.89062404632568,"wires":[["79e24119.50011"]]},{"id":"4820418b.a05ed","type":"link in","z":"c2c5398c.2538a8","name":"","links":["cd6ab093.7d021"],"x":79.8828432559967,"y":154.13281726837158,"wires":[["ae60dc01.1a44e"]]},{"id":"b36e49c7.41a698","type":"switch","z":"c2c5398c.2538a8","name":"Sequence type","property":"machine_sequence_type","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":500.8828430175781,"y":155.13671875,"wires":[["79e24119.50011"],["216b64fd.c193fc"]]},{"id":"a0ee84bb.267c48","type":"change","z":"c2c5398c.2538a8","name":"Set sequence type to 0","rules":[{"t":"set","p":"machine_sequence_type","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1181.019546508789,"y":1179.003924369812,"wires":[[]]},{"id":"e82e7ca1.212","type":"change","z":"c2c5398c.2538a8","name":"Set machine sequence type to 0","rules":[{"t":"set","p":"machine_sequence_type","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":909.8984298706055,"y":2378.1173095703125,"wires":[[]]},{"id":"a7c68d01.8da79","type":"change","z":"c2c5398c.2538a8","name":"Set sequence type to 1","rules":[{"t":"set","p":"machine_sequence_type","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1346.89453125,"y":107.11328601837158,"wires":[[]]},{"id":"18dd495d.b7ef17","type":"change","z":"c2c5398c.2538a8","name":"Set sequence type to 2","rules":[{"t":"set","p":"machine_sequence_type","pt":"flow","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1349.019546508789,"y":165.00390625,"wires":[[]]},{"id":"ae60dc01.1a44e","type":"change","z":"c2c5398c.2538a8","name":"Save machine moving state","rules":[{"t":"set","p":"machine_moving","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":266.01953125,"y":154.00390720367432,"wires":[["b36e49c7.41a698"]]},{"id":"7b3f1a94.dd4fa4","type":"change","z":"c2c5398c.2538a8","name":"Set count to intervall value","rules":[{"t":"set","p":"cultivation_count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1136.01953125,"y":1427.0039691925049,"wires":[["fa28a6df.aa94d8"]]},{"id":"1d709a5c.3a9a16","type":"change","z":"c2c5398c.2538a8","name":"Set count to intervall value","rules":[{"t":"set","p":"cultivation_count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1141.01953125,"y":1532.00390625,"wires":[["fab20ff2.39a0d"]]},{"id":"6861cd80.24e3d4","type":"inject","z":"72c4f86d.0ba9c8","name":"","topic":"Trigger each sec","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":235.3000946044922,"y":1912.733413696289,"wires":[["308aafc1.ca5"]]},{"id":"33df87f9.4ed3e8","type":"inject","z":"72c4f86d.0ba9c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":186.30002784729004,"y":2053.73370552063,"wires":[["8496e0d8.810e6"]]},{"id":"308aafc1.ca5","type":"link out","z":"72c4f86d.0ba9c8","name":"Seconde puls","links":["10d4daef.5289d5","4fdd295f.b48d48","ac4eb8de.755b88","ae767f1a.dec6a","f463fb55.ef5af8"],"x":439.000036239624,"y":1912.0000114440918,"wires":[]},{"id":"99df1e78.e23f6","type":"comment","z":"72c4f86d.0ba9c8","name":"Create a seconde puls","info":"","x":215.00003051757812,"y":1865.000015258789,"wires":[]},{"id":"8496e0d8.810e6","type":"link out","z":"72c4f86d.0ba9c8","name":"Startup","links":["e8e2e68a.7fc688"],"x":441.8985137939453,"y":2056.199520111084,"wires":[]},{"id":"a470aa24.55f038","type":"comment","z":"72c4f86d.0ba9c8","name":"Create startup puls","info":"","x":207.01952743530273,"y":2000.0039157867432,"wires":[]},{"id":"9fc3a6e5.20c0f8","type":"inject","z":"c2c5398c.2538a8","name":"","topic":"Trigger each sec","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":242.01953125,"y":2494.00390625,"wires":[["80d3a03e.a2a5c"]]},{"id":"49117e52.f5c44","type":"inject","z":"c2c5398c.2538a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":193.01946449279785,"y":2635.004198074341,"wires":[["8339462f.53fa28"]]},{"id":"80d3a03e.a2a5c","type":"link out","z":"c2c5398c.2538a8","name":"Seconde puls","links":["286c338f.a16bdc","47ab2986.19a428","53657af9.da2694","6e1ed52b.fdf27c","7602676b.070c98","a2417e1a.4a1c1","f5e17336.12469","ff8b5001.950eb"],"x":445.71947288513184,"y":2493.2705039978027,"wires":[]},{"id":"f1b6189f.82a568","type":"comment","z":"c2c5398c.2538a8","name":"Create a seconde puls","info":"","x":221.71946716308594,"y":2446.2705078125,"wires":[]},{"id":"8339462f.53fa28","type":"link out","z":"c2c5398c.2538a8","name":"Startup","links":["5a6a741e.e6715c","70dca4b6.bbd21c"],"x":448.6179504394531,"y":2637.470012664795,"wires":[]},{"id":"c0fe55a9.19ef48","type":"comment","z":"c2c5398c.2538a8","name":"Create startup puls","info":"","x":213.73896408081055,"y":2581.274408340454,"wires":[]},{"id":"e09778c1.301428","type":"switch","z":"c2c5398c.2538a8","name":"","property":"machine_sequense","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","outputs":1,"x":460.8906898498535,"y":516.1367483139038,"wires":[["c1ae6faf.c0e"]]},{"id":"de700eed.3bf7","type":"switch","z":"c2c5398c.2538a8","name":"","property":"machine_sequense","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":447.01954650878906,"y":654.0039234161377,"wires":[["f7cb0e24.8a6fd"]]}]